body {
    background-color: rgb(237, 232, 220);
}

/* ESTILO DE HEADER */
header {
    background-color: rgb(28, 120, 28);
}

.fondo {
    /* Largo */
    width: 1000px;
    /* Ancho */
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 115px;
    margin-left: 150px;
}

.contenedor-del-texto {
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    padding: 120px;
    width: 900px;
    height: 400px;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    opacity: 35%;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: -575px 200px 150px 200px; 

}

.contenedor-texto {
    
    text-align: justify;
    /* Arriba | Derecha | Abajo | Izquierda */
    padding: 75px 0px 0px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 25px;
    color: rgb(8, 8, 8);

}

/* ESTILO DE INTRODUCCIÓN */
.subtitulo {
    color: rgb(0, 0, 0);
    font-size: 14px;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15px 0px 0px 60px;

}

h1 {
    color: rgb(14, 13, 13);
    text-align: left;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 35px 0px;

}

p {
    color: rgb(14, 13, 13) ;
    margin-left: 100px;
    margin-right: 400px;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    
}

/* ESTILO DE MAIN */
img {
    width: 400px;
    height: 300px;
}

/* .card {
    margin: -120px 0px 0px 60px;
} */
 
.card-text {
    display: flex;
    align-items: left;
    margin-left: 10px;
    margin-right: 10px;
}


.contenedores {
    display: flex;
    justify-content: space-between;
}

.mb-3 {
     padding: 60px 300px 0px 300px;
}

/* FOOTER */
footer {
    min-height: 100px;
    background-color: rgb(28, 120, 28);
  }
  
footer .pie-de-pagina {
    display: flex;
    justify-content: space-between;
}

.iconos {
    width: 90px;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;
}


  .derechos-de-autor {
    font-size: 15px;
    color: #ffffff;
    padding: 20px;
  }